.design-gallery {
  .right-sidebar {
    position: absolute;
    right: 0;
    flex-shrink: 0;
    width: 300px;
    height: calc(100% - 50px); // footer height
    background-color: #fff;
    z-index: 10;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.0898984);
    font-size: 12px;
    line-height: 16px;
    color: #5c697f;
    letter-spacing: -0.02px;
    font-family: 'Open Sans';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;

    .toggle-button {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translate(-100%, -100%);
      content: '';
      background: white;
      z-index: 10;
      height: 60px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.0898984);
    }

    &.closed {
      transform: translateX(100%);
    }

    .sidebar-row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 22px;
      transition: opacity 0.25s ease;
      justify-content: space-between;

      &.is-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &__border {
        border-bottom: 1px solid #f8f8f9;

        &:last-child {
          border-bottom: none;
        }
      }

      .react-select__control {
        height: 28px;
        min-height: unset;
        padding: 0 8px 0 15px;

        * {
          height: 25px;
          min-height: unset;
          margin: 0;
        }

        .react-select__single-value {
          padding: 5px 0;
          font-size: 12px;
        }
      }

      &.shadow-options {
        .item-input-label {
          font-size: 11px;
        }
      }

      .item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: opacity 0.25s ease;

        &:last-child,
        &:nth-child(5n) {
          margin-right: 0;
        }

        &.item-inline {
          flex-direction: row;
          align-items: center;
          width: 48%;

          .numeric-input {
            width: 130px;
          }
        }

        &.item__disable {
          opacity: 0.5;
          pointer-events: none;
        }

        &:hover,
        &__active {
          color: #0084ce;
        }

        &__active.item__fill {
          .item-icon {
            color: #fff;
            background-color: #0084ce;
          }

          .item-label {
            color: #5c697f;
          }
        }

        &-column {
          align-items: center;
          flex-direction: column;
        }

        &-icon {
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.25s ease, color 0.25s ease;
          border-radius: 4px;
          margin-bottom: 5px;
        }

        &-input-label {
          margin-top: 3px;
          width: 100%;
          font-size: 13px;
        }

        &-input-wrap {
          align-items: flex-end;
        }

        &-label {
          white-space: nowrap;
          transition: color 0.25s ease;
        }
      }

      .numeric-wrapper {
        .helper-text {
          display: block;
          margin-top: 3px;
          width: 100%;
          font-size: 10px;
          line-height: 14px;
          text-align: right;
        }
      }

      .numeric-input {
        width: 50px;
        height: 28px;
        margin-bottom: 0;

        &.sm-size {
          width: 48px;
        }

        .react-numeric-input {
          width: 100%;
          max-width: 100%;
        }

        .form-control {
          color: #4c5057;
          width: 100%;
          height: 28px;
          padding: 0;
          font-size: 13px !important;
          text-align: right;
        }
      }

      .flexbox-fix {
        input {
          font-size: 9px !important;
          color: #2c2d3a;
          text-align: center;
          width: 100% !important;
        }
      }
    }
  }
}
