.Spreadsheet {
  width: 100%;
  font-size: 12px;

  th {
    color: #5c5b5b;
    background: #f4f5f8;
  }
}

.SpreadsheetTable {
  width: 100%;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
